

html{box-sizing: border-box;}
*, *::before, *::after{box-sizing: inherit;}

.main{margin: 10%;background-color: hsl(30, 38%, 92%);}
.cell{width: 300px; height: 300px; display: table-cell;}
.boder{border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
.bod2{border-top-right-radius: 10px; border-bottom-right-radius: 10px;}
.tab{ display: table; border-radius: 10px;}

.image{background-image: url(deskt.jpg); 
    background-repeat: no-repeat; background-size: cover;}
#gab{ font-size: 2em; font-weight: bold; text-transform: lowercase; font-family: 'Fraunces', serif;}
#prevprice{font-size: 14px;text-decoration: line-through;}
#per{font-family: 'Montserrat', sans-serif;}
#currentprice{font-size: 42px; font-weight: 700;font-family: 'Montserrat', sans-serif;
            color: #3c8067  }
button{background-color: #3c8067; width: 200px; color: white; height: 30px; border: none; border-radius: 10px;}
button:hover{background-color: blueviolet; cursor: pointer;}
.c2{vertical-align: middle; margin-left: 10px; background-color: hsl(0, 0%, 100%); text-align: left; padding: 5px;}   
div.c2> *{margin: 9px;}  




@media screen and (max-width: 576px) { 

    .tab{display: flex; flex-flow: column;}
   .c2{height: 100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; width: 100%; margin: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px;}
    .boder{border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
    .image{background-size: 100%; background-position: center; width: 100%;}
    
    
}
